:root {
  --font-family: "Roboto Slab", serif;
  --color: #2f2f2f;
  --sub-color: #4A4A4A;
  --background: #00C9FF;
  --sub-background: #92FE9D;
  --body-background: #e8f6f9;
  --project-box-shadow: 0 3px 10px 1px #eaeaea;
  --project-border-radius: 1em;
}